node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.pnp
.pnp.*
.next
**/.next
.turbo
**/.turbo
dist
**/dist
build
**/build
out
**/out
coverage
**/coverage
.git
**/.git
*.log
.DS_Store
playwright-report
**/playwright-report
test-results
**/test-results
